[ req ]
default_bits        = 2048
string_mask         = utf8only
default_md          = sha256
distinguished_name  = req_distinguished_name
req_extensions      = server_cert
prompt = no

[ req_distinguished_name ]
C   = TH
ST  = Bangkok
L   = Bangkok
O   = "Netpoleon Thailand Co., Ltd."
OU  = "NSTH DevSecOps Team"
CN  = test.devops.nsth

[ server_cert ]
basicConstraints = CA:FALSE
subjectKeyIdentifier = hash
authorityKeyIdentifier = keyid,issuer:always
keyUsage = critical, digitalSignature, keyEncipherment
extendedKeyUsage = serverAuth
subjectAltName = @alt_names

[ alt_names ]
DNS.1 = test.devops.nsth
DNS.2 = *.test.devops.nsth